@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<h1>Available Books</h1>
<a asp-controller="Books" asp-action="Create" class="btn btn-primary">
    List of Available Books
</a>

<table>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Title
                </td>
                <td width="30%">
                    @obj.Author
                </td>
                <td width="50%">
                    @obj.Title
                </td>
                <td width="30%">
                    @obj.Library.Name
                </td>
                <td width="50%">
                    @obj.IsAvailable
                </td>

                
            </tr>
        }
    </tbody>
</table>

